* {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #FFFFF0;

}

header {
    position: relative;
    font-family: 'mogra', sans-serif;
    background-color: black;
    color: #FFFFF0;
    height: 100px;
    width: 100%;

}

header h1 {
    text-transform: uppercase;
    background-color: black;
}

/* Nav-Bar */

header a {
    font-family: 'mogra', sans-serif;
    text-decoration: none;
    color: #c50822;
    float: left;
    margin: 30px;
    font-size: large;
}

a:hover {
    color: goldenrod;
    text-decoration: underline;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;

}

header li {
    display: inline;
    margin-right: 20px;
    float: right;

}

header li a {
    color: #FFFFF0;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: larger;

}

.active {
    text-decoration: underline;
}

/*Hero image and slogan text*/

.hero-div {
    position: relative;
}

.slogan {
    position: absolute;
    top: 15%;
    left: 15%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'mogra', sans-serif;
    letter-spacing: 4px;
}

.slogan h2 {
    color: #c50822;
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 500%;
}

.slogan h3 {
    margin-bottom: 10px;
    font-size: 200%;
}

#hero {
    width: 100%;
    height: auto;
}

/* Intro text */
#intro-img {
    width: 100%;
    height: auto;
    z-index: -1;
}

.intro-div {
    position: relative;
}

.intro-text {
    position: absolute;
    top: 100px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.padding {
    padding-top: 30px;
}

#strong {
    color: #FFFFF0;
    text-decoration: none;
    font-size: x-large;
    padding-top: 30px;
}

a :hover {
    text-decoration: underline;
}

.center {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.trainer {
    display: inline-table;
    width: 25%;
    height: auto;
    margin: 10px 10px;

}

.trainer h3 {
    color: #c50822;
}

.trainer img {
    width: 100%;
    height: 500px;
    border-radius: 50%;
}

#trainer-text {
    margin-bottom: 25px;
}

#inmap {
    height: 400px;
    width: 100%
}

#framemap {
    height: 400px;
    width: 100%;
    margin: 0;
}

#map {
    text-align: center;
}


/* footer*/


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    text-align: center;
}

.padding {
    padding-top: 10px;
}

#contact-footer {
    padding-top: 20px;
    width: 100%;
}

#contact-footer p {
    display: inline;
    margin-left: 10px;
}

.email {
    text-decoration: none;
    color: #FFFFF0;
}

footer ul {
    text-align: center;
    font-size: x-large;
}

footer ul li {
    display: inline;
    text-decoration: none;
}

footer li a {
    margin: 10px 20px;
}
/*soxial media icons*/

#facebook {
    color: #3b5998;
}

#instagram {
    color: #962fbf;
}

#twitter {
    color: #1475e4;
}




/* Schedule */

.headline {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: 'mogra', sans-serif;
    color: #1475e4;
    letter-spacing: 2px;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif;
    background-color: black;
    letter-spacing: 4px;
}

th {
    border: 2px solid #FFFFF0;
    width: 120px;
}

.no-border {
    border: none;
}

tr {
    height: 100px;
}



/* classes */

#class-section {
    margin: 20px 25% 20px;
}

.classes {

    width: 19%;
    display: inline-table;
    text-align: center;


}

.prices {
    display: inline-table;
    text-align: center;
    margin: 20px 20px;
}

.wrapper {

    text-align: center;

}

/* Forms */

form label {

    margin-top: 20px;
}

input {
    margin-bottom: 20px;
}

#submit {
    border: 2px solid #FFFFF0;
}

#submit:hover {
    background-color: #4f738e;
    cursor: pointer;
}

textarea {
    margin-top: 20px;
}

.contact {

    text-align: center;
}

.send {
    height: 20px;
    width: 60px;
    text-transform: uppercase;
    font-weight: bolder;
    color: black;
    background-color: #FFFFF0;

}

.send:hover {
    background-color: goldenrod;
}

/* Media Queries */

@media screen and (max-width:1600px) {
    .slogan{
        top: 10%;
        left: 10%;
    }
    .trainer img {
        height: 400px;
    }

}

@media screen and (max-width:1300px) {
    .trainer img {
        height: 300px;
    }
    .slogan{
        top: 7.5%;
    }

}

@media screen and (max-width: 1024px) {
    header a {
        margin: 30px 20px;
    }

    header li {
        margin-right: 0;
    }

    header li a {
        padding: 8px 8px 8px 0;
    }

    .trainer img {
        height: 200px;
    }

    .slogan {
        top: 5%;
        left: 5%;
        font-size: 50%;
    }

    #contact-img {
        width: 80%;
        height: auto;

    }

    #member-img {
        width: 100%;
        height: auto;
    }

    select {
        margin-bottom: 20px;
    }

    #inmap {
        height: 275px;
    }

    #framemap {
        height: 275px;
    }

    /* Schedule */
    #class-section {
        margin: 20px 5% 20px;
    }


}

@media screen and (max-width: 768px) {
    header a {
        margin: 30px 10px;
    }

    .slogan {
        font-size: 50%;
    }


    .intro-text {
        top: 2%;
        width: 100%;
        margin: 0;
        font-size: 85%;
    }


    #strong {
        margin-top: 20px;
        padding-top: 20px;
    }

    #intro-img {
        height: 400px;
    }

    .trainer img {
        height: 150px;
        display: block;

    }

    footer li a {
        margin: 10px 20px;
    }

    #contact-footer p {
        margin-left: 0px;
    }

    /* Schedule */


    #class-section {
        margin: 0;
    }

    .classes {

        width: 80%;
        display: inline-table;
        text-align: center;
        padding: 10px;
        font-size: 100%;
    }

    .prices {
        display: inline-table;
        text-align: center;
        margin: 20px 20px;
        font-size: 60%;
    }

    table {
        width: 80%;
        letter-spacing: 3px;
        font-size: 80%;
    }

    th {
        width: 20px;
    }

    tr {
        height: 50px;

    }

}

@media screen and (max-width:600px) {
    header a {
        margin: 30px 5px;
    }

    header li a {
        padding: 8px 0 8px 0;
    }
    .slogan {
        top: 1%;
        left: 5%;
    }


    #contact-footer p {
        display: block;
    }

    #contact-footer {
        padding-top: 0;
    }

    .hidden {
        display: none;
    }



}

@media screen and (max-width:480px) {
    header {
        height: 80px
    }

    nav {
        padding-top: 10px;
    }

    nav div {
        text-align: center;
    }

    nav div ul {
        display: inline-block;
        text-align: left;
    }

    header a {
        font-size: medium;
        float: none;
        margin: 0;
    }

    .slogan h3 {
        background-color: black;
    }

    header li {
        margin: 0 5px 0;

    }


    header li a {
        padding: 0;
        font-size: medium;
    }

    #framemap {
        height: 200px;
    }

    .trainer {
        width: 75%;
        text-align: center;
    }

    .trainer img {
        width: 100%;
        height: 250px;
        border-radius: 50%;

    }



    /* Schedule */

    .headline {
        width: 100%;
        text-align: center;
        padding-top: 20px;
        font-size: medium;
    }

    #class-section {
        margin: 0;
    }

    .classes {

        width: 80%;
        display: inline-table;
        text-align: center;
        padding: 10px;
        font-size: 60%;
    }

    .prices {
        display: inline-table;
        text-align: center;
        margin: 20px 20px;
        font-size: 60%;
    }

    table {
        width: 100%;
        margin: 0;
        letter-spacing: 1px;
        overflow: hidden;
        font-size: 50%;
    }

    th {
        border: 2px solid #FFFFF0;
        width: 40px;
    }

    .no-border {
        border: none;
    }

    tr {
        height: 40px;


    }

    /* Contact */

    #contact-img {
        width: 100%;
        height: auto;
    }

    select {
        margin-bottom: 20px;
    }

    #member-img {
        width: 100%;
        height: auto;
    }

    #inmap {
        height: 200px;
    }

}