* {
    margin: 0;
    padding: 0;
    border: none;
}



header {
    position: relative;
    font-family: 'mogra', sans-serif;
    background-color: red;
    height: 100px;


}

header h1 {
    float: left;
    text-transform: uppercase;
    margin-left: 20px;
    line-height: 40px;
    padding-top: 20px;
}

header p {
    clear: both;
    margin-left: 35px;
}


#nav-bar {


    list-style-type: none;


}

#nav-bar li {
    float: right;
    margin-right: 30px;
    padding-right: 30px;
    line-height: 10px;
    

}

#intro-img {
    float: right;
    padding-right:25%;
    padding-top: 40px;
}

.intro-div {
    width: 400px;
    padding-left: 25%;
    padding-top: 40px;
}

.intro-div h2 {
    
}
.