* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    background-color: #0c062b;
    color: #FFFFF0;
}


header {
    position: relative;
    font-family: 'mogra', sans-serif;
    background-color: black;
    color: #FFFFF0;
    height: 100px;


}

header h1 {
    float: left;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 20px 0;
    background-color: black;


}


/* Nav-Bar */

header ul {
    list-style-type: none;
    margin: 0;
    padding: 40px 0 0;
    overflow: hidden;
    background-color: black;
    vertical-align: middle;

}

header li {
    float: right;
    margin-right: 30px;
}

header li a {
    display: inline;
    color: #FFFFF0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
}

/*Hero image*/



.slogan {
    position: absolute;
    top: 350px;
    left: 15%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'mogra', sans-serif;

    letter-spacing: 4px;


}

.slogan h2 {
    color: #4f738e;
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 400%;
}

.slogan h3 {
    margin-bottom: 10px;
    font-size: 200%;
}





#hero {
    width: 100%;
    height: auto;


}

#intro-img {
    width: 100%;
    height: auto;
    z-index: -1;


}

.intro-div {
    position: relative;

}

.intro-text {
    position: absolute;
    top: 100px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;


}

.intro-text strong {
    font-size: 150%;
}


.center {
   text-align: center;
   margin-bottom: 100px;
   margin-top: 50px;
}



.trainer {
    display: inline-table;
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.trainer img {
    width: 100%;
    height: 500px;
    border-radius: 50%;

}

#trainer-text {
    margin-bottom: 50px;
}

/* footer*/

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    clear: both;

}

.footer p {
    display: inline;
    position:relative;
    top: 40px;
    margin-left: 40px;
   
    
}

footer ul {
    list-style-type: none;
}

footer li {
    float: right;
    margin-right: 20px;

}

footer li a {
    display: inline;
    color: #FFFFF0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
}
#map {
    text-align: center;
}

/* Schedule */


.headline {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    font-family: 'mogra', sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-family: 'mogra', sans-serif;
    background-color: black;
    letter-spacing: 3px;
}

th {
    border: 2px solid black;
    width: 100px;
}

.no-border {
    border: none;
}

tr {
    height: 100px;


}

/* classes */

#class-section {
    margin: 20px 25% 20px;
}

.classes {

    width: 19%;
    display: inline-table;
    text-align: center;
   

}

.prices {
    display: inline-table;
    text-align: center;
    margin:20px 20px;
}

.wrapper {
    text-align: center;

}